/* Estilos generales */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);

body {
  margin-top: 4px;
  color: #0f0f10;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse .92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse .92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse .92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse .92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

h1 {
  color: tomato;
  font-size: 50px;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

td {
  padding: 1rem;
  border: 1px solid #080808;
}

button {
  display: flex;
  margin: 0.5rem auto;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #1e88e5;
  color: #fff;
  border: #080808 solid 1px;
  border-radius: 0px 25px 0px 25px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #135ac4;
}

input {
  width: 100%;
  height: 70px;
  padding: 0.75rem;
  font-size: 18px;
  border: #000000 solid 1px ;
  border-radius: 25px;
  background-color: #1e88e5;
  color: rgb(251, 250, 250);
}

.ac {
  background-color: #ec3b3b;
  border-radius: 150px;
}

.ac:hover {
  background-color: #c42f2f;
}

/* Estilos específicos para dispositivos móviles */

@media screen and (max-width: 600px) {

  td {
    font-size: 0.8rem;
    padding: 0.75rem 0.5rem;
  }

  button {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  input {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

}